.image{
	height: 300px;
	border-radius: 50px;
	padding: 20px;
	opacity: .75;
}
.image: hover{
	opacity: 1;
}
body{
	background-color: black;
	color: white;
	text-align: center;
	margin: 100px;
	font-family: Alice;
}
h1{
	text-transform: uppercase;
	letter-spacing: 12px;
}
table{
	margin-right: auto;
	margin-left: auto;
}
.profile{
	border-radius: 50%;
	height: 50px;
	border-style: inset;
	border-color: black;
	border-width: 5;
}
